<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="homeBtn" class="button -regular" onclick="getHome()">Home</a></li>
                    <li><a id="formBtn" class="button -regular" onclick="getForm()">Contact</a></li>
                    <li><a id="aboutBtn" class="button -regular" onclick="getAbout()">About</a></li>
                    <li><a id="contactBtn" class="button -regular" onclick="getContact()">Find Me</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="returnedView">
        @{Html.RenderPartial("MainPage");}
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <p>&copy; @DateTime.Now.Year - Marcin Brzóska</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function getHome() {
            $('#returnedView').empty();
            $.ajax({
                url: '@Url.Action("Home", "Home")',
                success: function (returnedView) {
                    $('#returnedView').html(returnedView);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
        function getAbout() {
            $('#returnedView').empty();
            $.ajax({
                url: '@Url.Action("About", "Home")',
                success: function (returnedView) {
                    $('#returnedView').html(returnedView);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
        function getContact() {
            $('#returnedView').empty();
            $.ajax({
                url: '@Url.Action("Contact", "Home")',
                success: function (returnedView) {
                    $('#returnedView').html(returnedView);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
        function getForm() {
            $('#returnedView').empty();
            $.ajax({
                url: '@Url.Action("Form", "Home")',
                success: function (returnedView) {
                    $('#returnedView').html(returnedView);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }
    </script>
</body>
</html>
