@model The_End_Of_PWI.Models.ContactViewModel

@if (ViewBag.Info ==true)
{
    <script>alert("Dane kontakowe zostały zapisane. Dziękuje!")</script>
}

<div id="returnedView">
    @Html.AntiForgeryToken()
    <h4>Zostaw swoje dane kontaktowe</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 inpClass">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 inpClass">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telephone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10 inpClass">
            @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" onclick="sendData()" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")}
<script>
    function sendData() {
        var email = $('#Email').val();
        var name = $('#Name').val();
        var tel = $('#Telephone').val();
        var contactModel = {
            Email: email,
            Name: name,
            Telephone: tel
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("Register", "Register")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ 'model': contactModel }),
            dataType: "json",
            success: function (returnedView) {
                $('#returnedView').html(returnedView);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
</script>

